$mq-mobile-portrait   : 320px  !default;
$mq-mobile-landscape  : 480px  !default;
$mq-tablet-portrait   : 768px  !default;
$mq-tablet-landscape  : 980px  !default;
$mq-desktop           : 1200px !default;


//MOBILE
// Both portrait and landscape
@mixin mobile-only {
  @media (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything up to and including the portrait width of the phone
// Since it's the smallest query it doesn't need a min
@mixin mobile-portrait-only {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything up to and including the mobile portrait
@mixin mobile-portrait-and-below {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything above and including the mobile portrait
@mixin mobile-portrait-and-up {
  @media (min-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everthing larger than a portrait mobile up until mobile landscape
@mixin mobile-landscape-only {
  @media only screen and (min-width : $mq-mobile-portrait + 1) and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything up to and including the mobile landscape width
@mixin mobile-landscape-and-below {
  @media only screen and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything above and including the mobile landscape width
@mixin mobile-landscape-and-up {
  @media only screen and (min-width : $mq-mobile-portrait + 1) {
    @content;
  }
}

// tablet
// ------------------------------

// Both the portrait and landscape width of the tablet
// Larger than a landscape mobile but less than or equal to a landscape tablet
@mixin tablet-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than mobile landscape up until the portrait width of the tablet
@mixin tablet-portrait-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything below and including the portrait width of the tablet
@mixin tablet-portrait-and-below {
  @media only screen and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything above and including the portrait width of the tablet
@mixin tablet-portrait-and-up {
  @media only screen and (min-width : $mq-mobile-landscape + 1) {
    @content;
  }
}

// Larger than portrait but less than or equal to the landscape width
@mixin tablet-landscape-only {
  @media only screen and (min-width : $mq-tablet-portrait + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Up to and including the tablet landscape
@mixin tablet-landscape-and-below {
  @media only screen and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than portrait tablet
@mixin tablet-landscape-and-up {
  @media only screen and (min-width : $mq-tablet-portrait + 1) {
    @content;
  }
}

// desktop
// ------------------------------

// Everything larger than a landscape tablet
@mixin desktop-and-up {
  @media only screen and (min-width : $mq-tablet-landscape + 1) {
    @content;
  }
}

// Everything below and including the desktop 
@mixin desktop-and-below {
  @media only screen and (max-width : $mq-desktop) {
    @content;
  }
}

// Everything larger than a landscape tablet but less than or equal to the desktop
@mixin desktop-and-below {
  @media only screen and (min-width : $mq-tablet-landscape + 1) and (max-width : $mq-desktop) {
    @content;
  }
}

// retina
// ------------------------------

// Retina screens have a 1.5 pixel ratio, not 2
@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    @content;
  }
}

@include mobile-only() {  
  .navbar-light {
    .navbar-toggler {      
      border-color: #fff !important; 
      background: #fff !important; 
      span {
        color: #00844b !important;
      }
    }
    .navbar-nav {
      text-align: center;
    }
    .nav-link {
      &.dropdown-toggle {
        color: #fff;
        &:after {
          display: none;
        }
      }
    }
  }
  #carouselClient {
    .carousel-caption {
      right: 0;
      left: 0;    
      background: rgba(255, 255, 255, 0.5);
      .ctCarousel {
        text-align: center;
        h5 {
          font-size: 2.1rem;
        }
        p {
          font-size: 1.4rem;
        }
      }
    }
  }
  .title {
    h2 {
      font-size: 2.0rem;
    }
    p {
      font-size: 1.8rem;
      line-height: 1.4rem;
      padding-bottom: 0.8rem;
      &:after {
        width: 80%;      
        left: 10%;
      }            
    }
  }
  #produtos {
    .title {
      margin-bottom: 5.0rem;
    }
    figure {
      height: 40px;    
      margin-top: 0.5rem;
    }
  }
  #receitas {
    .carousel-caption {
      right: 0;
      left: 0;
    }
    .title {
      p {
        font-size: 0.9rem;
        line-height: 0.9rem;
        padding-bottom: 0.2rem;
        &:after {
          top: 25px;
        }
      } 
      h2 {
        font-size: 1.5rem;
      }
    }
  }
  #vo-maria {
    .vovo {
      background-size: cover;
    }
    .title {
      p {
        font-size: 1.2rem;
        line-height: 0.9rem;
        padding-bottom: 0.2rem;
        &:after {
          top: 15px;
        }
      } 
      h2 {
        font-size: 1.5rem;
      }
    }
  }
  #novidades {
    .title {
      p {
        font-size: 0.8rem;
        &:after {
          top: 25px;
        }
      }
      h2 {
        font-size: 1.5rem;
      }
    }
  }
  #quem-somos {
    background-size: cover;
  }
  #comtemp {
    figure {
      margin: 0.5rem;
      img {
        width: 80px;
        height: auto;
      }
    }    
    .social {
      padding-top: 0;
      margin-right: 1.0rem;
      a {
        font-size: 2.0rem;
      }
      &:before {
        right: 2.5rem;
        top: 0.9rem;
      }
    }
  }
  #contato {
    .bt-send {
      width: 100%;
    }
    .infos-contemp {
      display: block;
      text-align: center;
      .logo {
        display: block;
        width: 80%;
        margin: auto;        
      }
    }
    address {
      text-align: center;
    }
  }  
  footer {
    text-align: center;
    font-size: 0.8rem;
    .projetos {
      display: block;
      margin-top: 1.0rem;
      span {
        width: 100%;        
        display: block;
        padding: 0.8rem 0;
      }  
      figure {
        display:  inline-block;
        img {
          width: 80px;
          height: auto;
        }
      }
    }    
  }
}
@include mobile-portrait-only() {}