//Fonts
@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap);
//Colors
$white	  : #FFFFFF;
$gray     : #f6f7f9;
$black    : #2f2f2f;
$green    : #00844b;
$green-2  : #027944;
$green-3  : #99c833;
$green-4  : #05502d;
$red      : #cb1719;
$orange   : #e58e1a;

//Mixins Border-radius
@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

//shadow
@mixin box-shadow () {
	box-shadow: 0 .125rem .25rem rgba(0,0,0,0.075) !important;
}

//Placeholder
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $black !important;  
  font-size: 1.0rem;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $black !important;  
  font-size: 1.0rem;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $black !important;  
  font-size: 1.0rem;
}
:-moz-placeholder { /* Firefox 18- */
  color: $black !important;  
  font-size: 1.0rem;
}


body {
	font-family: 'Rubik', sans-serif;
}

.fixed-client {
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  transition: 0.3s;
  box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);        
}

.btnClient {
  background: $green-3;
  color: $white;        
  float: right; 
  margin: 0.5rem 45px;
  transition: 0.3s;
  &:hover {
    color: $white;  
    background: $green-2;
    transition: 0.3s;
  }
}

.bg-client {
  background-color: $green !important;
  padding-bottom: 0;  
  &:before {
    content: "";
    position: absolute;
    height: 40px;
    width: 100%;
    background-color: $green-2;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .navUp {
    position: relative;
    z-index: 2;
    .navbar-brand {
      height: 60px;
      img {
        height: 80px;
        width: auto;        
      }
    }
    .navClient {
      padding-top: 2.5rem;
      li {
        transition: 0.3s;
        margin: 0 1.0rem;
        a {
          color: $white;            
          transition: 0.3s;
          font-size: 0.9rem;
          font-weight: 400;
          text-transform: uppercase;
        }
        &.active,
        &:hover {
          .nav-link {
            color: $green-3;
            transition: 0.3s;
            position: relative;
            &:before {
              content: "";
              width: 100%;
              height: 4px;
              position: absolute;
              bottom: 0;
              left: 0;
              background: $orange;
            }
          }
        }
        &:focus{
          color: $white;
        }  
      }
      .dropdown {
        background: $green-4;
        border-top: 3px solid $green-3;        
        .dropdown-item {
          color: $black;
          text-transform: capitalize;
        }
      }
    }
  }
} 

//Carousel
.carouselClient {
  .carousel-indicators li {
    width: 12px;
    height: 12px;
    @include border-radius(100px);
    border: 3px solid $green-3;
    background: $gray;
    &.active {
      border-color: $green-2;
      background: $green-3;
    }
  }
  .carousel-caption {    
    bottom: 23%;
    .ctCarousel {
      max-width: 520px;
      color: $black;
      text-align: left;
      p {
        font-size: 2.9rem;
        line-height: 1.8rem;
        margin-bottom: 0;
      }
      h5 {
        font-size: 3.3rem;
        font-weight: 700;   
        margin-bottom: 0.2rem;     
      }
      .tx-esp {
        display: block;
        font-style: italic;
        width: 100%;
        text-align: right;
        padding-right: 100px;
        line-height: 0.9rem;
      }      
    }
  }
  &.carousel-receitas {
    .carousel-inner {
      height: 440px;
      .carousel-item {
        height: 440px;
        .title {
          text-align: center;
          color: $white;
          h2 {
            font-size: 2.4rem;
          }
          p {
            font-size: 1.3rem;
            &:after {
              background: $white;
            }
          }          
        }    
      }      
    }        
  }
}

//Title
.title {
  margin-bottom: 2.0rem;
  width: 100%;    
  h2 {
    font-size: 2.8rem;
    margin-bottom: 0;
    font-weight: 700;
  }
  p {
    font-size: 2.2rem;
    line-height: 1.4rem;
    padding-bottom: 1.0rem;
    margin: 0 auto;      
    display: table;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      display: block;
      width: 120%;
      height: 2px;
      top: 40px;
      left: -10%;
      background: black;
    }            
  }
}

//Sections
section {
  padding: 2.5rem 0;
}

//Produtos
#produtos {
  figure {
    height: 200px;
    margin-bottom: 4.0rem;
    position: relative;
    img {
      position: absolute;
      bottom: 0;
    }
  }
}

//Receitas
#receitas { 
  padding: 0; 
  height: 470px;
  background: url('../images/bg-receitas.jpg') bottom center no-repeat;
}

//vovo
#vo-maria {
  padding: 0; 
  .vovo{
    position: relative;
    display: flex;
    align-items: center;
    background: red url('../images/bg-vovo-02.jpg') top center no-repeat;    
    .title {
      text-align: center;
      position: absolute;
      z-index: 2;
    }
  }
  figure {
    margin-bottom: 0;
  }
}

//Novidades
#novidades {
  background: url('../images/bg-novidades.jpg') center center no-repeat;
  background-position: fixed;
  height: 500px;
  text-align: center;
  display: flex;
  align-items: center;
  .title {
    color: $white;
    p {
      &:after {
        background: $white;
      }
    }
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin: 0 1.0rem;
      a {
        color: $white;
        font-size: 3.5rem;
        transition: 0.3s;
        &:hover {
          color: $green-3;
         transition: 0.3s; 
        }
      }
    }
  }
}

//Quem Somos
#quem-somos {
  background: url('../images/bg-quemsomos.jpg') center center no-repeat;
  h2 {
    font-size: 2.8rem;   
    font-weight: 700;
  }
}

//Formulário
#formulario {
  .btnClient {
    margin-right: 0;
  }
}

//Contato
#contato {
  .infos-contemp {
    margin-top: 2.2rem;
    display: flex;
    align-items: center;
  }
  h2 {
    font-weight: 700;
  }
  h4 {
    font-size: 1.0rem;
    font-weight: 700;
  }
  a {
    color: $green;
  }
  address {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 2px solid $black; 
  }
  .tels {
    padding: 0.5rem;
    strong {
      display: block;
    }
  }
  .map {
    iframe {
      width: 100%;  
      height: 331px;
      padding: 0;
      margin: 0;
      border: 2px solid $green-3;
    }
  }  
}

//Comtemp
#comtemp {
  padding: 0.5rem 0;
  background: $black;
  figure {
    display: inline-block;
    margin: 0.5rem 2.0rem;
  }
  .social {
    padding-top: 1.0rem;
    position: relative;
    &:before {
      content: "SIGA-NOS";
      color: $white;
      width:80px;
      position: absolute;
      right: 4.0rem;
      top: 2.5rem;
    }
    a {
      color: $white;
      font-size: 3.0rem;
      transition: 0.3s;
        &:hover {
          color: $green-3;
         transition: 0.3s; 
        }      
    }
  }
}

//Footer
footer {
  padding: 1.5rem 0;
  background: $green;
  color: $white;
  .projetos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    figure {
      margin: 0 0.9rem;
    }
  }
}

//Media Queries
@import 'client_style_queries.scss';